body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	font-family: Sora, sans-serif;
}

.container {
	height: 100%;
	width: 100%;
	position: relative;
	background-image: url("../images/6104132.webp");
	background-size: contain;
}

.player1,
.player2 {
	position: absolute;
	width: 20px;
	height: 50px;
	bottom: 2em;
	z-index: 2;
	background-color: #f27676;
}

.player2 {
	left: 1em;
}
.player1 {
	left: calc(100vw - 1em - 20px);
}

.info {
	position: absolute;
	top: 1em;
	right: 1em;
	padding: 1em;
	background-color: #f27676;
	color: white;
	border-radius: 20px;
	width: 200px;
	text-align: center;
}

.waste {
	width: 50px;
	position: absolute;
	top: 0;
	animation: bounce 1s ease;
	transition: all 1s ease;
}

@keyframes bounce {
	20% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(-15%);
	}
	75% {
		transform: translateY(0%);
	}
	90% {
		transform: translateY(-7%);
	}
	97% {
		transform: translateY(0%);
	}
	99% {
		transform: translateY(-3%);
	}
	100% {
		transform: translateY(0);
	}
}

.splash {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	background-color: white;
	z-index: 50;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.popup {
	width: 50%;
	max-width: 768px;
	min-width: 250px;
	margin-bottom: 4em;
}

.splash img {
	width: 20%;
	min-width: 200px;
	max-width: 500px;
}

.button {
	text-decoration: none;
	color: white;
	background-color: #f27676;
	padding: 1em 2em;
	font-size: 0.8rem;
	border-radius: 50px;
	border: none;
	font-family: Sora, sans-serif;
}
