body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	font-family: "Sora", sans-serif;
}

.land {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	overflow: hidden;
}

.container {
	height: 100%;
	width: 100%;
	position: relative;
	background-color: #e2effa;
}

.bin {
	position: absolute;
	width: 100px;
	left: 0;
	bottom: 2em;
	z-index: 2;
}

.info {
	position: absolute;
	top: 1em;
	right: 1em;
	padding: 1em;
	background-color: #f27676;
	color: white;
	border-radius: 20px;
	width: 100px;
}

.waste {
	width: 50px;
	position: absolute;
	top: 0;
}
