body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	font-family: "Sora", sans-serif;
	background-color: #f27676;
	box-sizing: border-box;
}

.title {
	text-align: center;
	color: #ffffff;
	font-size: 36px;
	font-weight: 400;
	margin-top: 2em;
}

.description {
	text-align: center;
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	margin-top: 2em;
}

.item-container {
	width: 200px;
	margin: 2em auto;
	padding: 4em;
	border-radius: 10px;
}

.bin-container {
	display: flex;
	justify-content: space-between;
	margin: 2em 10em;
}

.bin {
	background-image: url("../images/bin.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 200px;
	width: 200px;
	/* background-color: #ffffff; */
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.5em;
	font-size: 0.8rem;
	border-radius: 12px;
	/* position: absolute; */
}

.label {
	background-color: white;
	border-radius: 50px;
	padding: 1em;
}

/* #bin1{
    top: 350px;
    left: 200px;
}

#bin2{
    top: 350px;
    left: 450px;
}

#bin3{
    top: 350px;
    left: 700px;
} */

.item {
	position: absolute;
	height: 50px;
	width: 100px;
	background-color: black;
	border-radius: 5px;
	cursor: move;
	z-index: 10;
	color: white;
	padding: 0.5em;
}

.info {
	position: absolute;
	top: 1em;
	right: 1em;
	padding: 1em;
	background-color: white;
	border-radius: 12px;
}
